.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.counter {
  margin: 10px;
  background-color: rgb(5, 194, 194);
}
.info {
  background-color: crimson;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid brown;
  color: wheat;
}
